{% extends "components/layout.html" %}

{% block title %}Administrar Usuarios{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <h1 class="text-center mb-4">Lista de Usuarios</h1>
    <div id="invalido" class="alert alert-danger" style="display: none;">
        <h3>Su usuario o contraseña no son correctos.</h3>
        <p>Redirigiendo al inicio...</p>
    </div>
    <div id="mostrar" style="display: none;">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Usuarios Registrados</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Country</th>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="personas">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Mensajes de Contacto</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Mensaje</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody id="mensajes">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="formulario-editar" class="card mt-4">
        <div class="card-header">
            <h4 class="card-title">Editar Usuario</h4>
        </div>
        <div class="card-body">
            <form id="form-editar-usuario">
                <div class="mb-3">
                    <label for="edit-email" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-sm" id="edit-email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="edit-password" class="form-label">Password</label>
                    <input type="password" class="form-control form-control-sm" id="edit-password" name="password"
                        required>
                </div>
                <div class="mb-3">
                    <label for="edit-rol" class="form-label">Rol</label>
                    <select class="form-control form-control-sm" id="edit-rol" name="rol">
                        <option value="user">Usuario</option>
                        <option value="admin">Administrador</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>

<script>
    var accessToken = localStorage.getItem('access_token');
    var tokenType = localStorage.getItem('token_type');
    var role = localStorage.getItem('rol');

    if (accessToken && tokenType && accessToken.split('.').length === 3 && role === 'admin') {
        fetch('admin', {
            method: 'POST',
            headers: {
                'Authorization': `${tokenType} ${accessToken}`
            }
        })
            .then(response => response.json())
            .then(data => {
                for (var usuario of data.usuarios) {
                    var lista = `
                    <tr>
                        <td>${usuario.id}</td>
                        <td>${usuario.firstname}</td>
                        <td>${usuario.lastname}</td>
                        <td>${usuario.country}</td>
                        <td>${usuario.email}</td>
                        <td>${usuario.rol}</td>
                        <td>
                            <button class="btn btn-success"" onclick="editarUsuario(${usuario.id})">Editar</button>
                        </td>
                    </tr>
                `;
                    document.querySelector('#personas').innerHTML += lista;
                }
                for (var mensaje of data.mensajes) {
                    var mensajeRow = `
                    <tr>
                        <td>${mensaje.id}</td>
                        <td>${mensaje.name}</td>
                        <td>${mensaje.email}</td>
                        <td>${mensaje.mensaje}</td>
                        <td>${new Date(mensaje.fecha_mensaje).toLocaleString()}</td>
                        <td>
                            <button class="btn btn-success" onclick="responderMensaje('${mensaje.id}')">Responder</button>
                        </td>
                        <td>
                            <button class="btn btn-danger"" onclick="eliminarMensaje(${mensaje.id})">Eliminar</button>
                        </td>
                    </tr>
                `;
                    document.querySelector('#mensajes').innerHTML += mensajeRow;
                }
                document.querySelector('#mostrar').style.display = 'block';
                document.querySelector('#invalido').style.display = 'none';


            })
    }
    else {
            document.querySelector('#mostrar').style.display = 'none';
            document.querySelector('#personas').style.display = 'none';
            document.querySelector('#invalido').style.display = 'block';
            console.error('Token inválido');
            setTimeout(function () {
                window.location.href = '/';
            }, 2000);
        }
        function editarUsuario(id) {
            fetch(`admin/usuario/${id}`, {
                method: 'POST',
                headers: {
                    'Authorization': `${tokenType} ${accessToken}`
                }
            })
                .then(response => response.json())
                .then(usuario => {
                    document.querySelector('#edit-email').value = usuario.email;
                    document.querySelector('#edit-password').value = "232323";
                    document.querySelector('#edit-rol').value = usuario.rol;

                    document.querySelector('#form-editar-usuario').onsubmit = function (event) {
                        event.preventDefault();

                        var formData = new FormData(event.target);
                        fetch(`admin/usuario/${id}/editar`, {
                            method: 'POST',
                            headers: {
                                'Authorization': `${tokenType} ${accessToken}`
                            },
                            body: formData
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('No se pudo actualizar el usuario');
                                }
                                return response.json();
                            })
                            .then(data => {
                                alert('Usuario actualizado correctamente');
                                location.reload();
                            })
                            .catch(error => {
                                alert('Error: ' + error.message);
                            });
                    };
                });
        }
        function responderMensaje(mensaje_id) {
            let respuesta = prompt("Escribe tu respuesta: " );

            if (!respuesta) {
                alert("No puedes enviar un mensaje vacío.");
                return;
            }
            fetch(`/admin/responderEmail/${mensaje_id}`, {
                method: 'POST',
                headers: {
                    'Authorization': `${tokenType} ${accessToken}`,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ respuesta })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.mensaje);
            })
            .catch(error => {
                console.error("Error al responder el mensaje:", error);
            });
        }
        function eliminarMensaje(mensajeId) {
            fetch(`admin/eliminar/${mensajeId}`, {
                method: 'DELETE',
                headers: {
                    'Authorization': `${tokenType} ${accessToken}`
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Error al eliminar el mensaje");
                }
                return response.json();
            })
            .then(data => {
                alert(data.message);
                location.reload();
            })
            .catch(error => {
                console.error("Error al eliminar el mensaje:", error);

            });
        }
</script>
{% endblock %}