{% extends "components/layout.html" %}

{% block title %}Olvido{% endblock %}

{% block content %}
<style>
    .contenedor { 
        width: 90%; 
        max-width: 200px; 
        margin: 50px auto; 
        text-align: center; 
    }
    .alert { 
        color: #d9534f; 
        background-color: #f2dede; 
        padding: 10px; 
        margin-bottom: 15px; 
        border-radius: 5px; 
    }
    input { 
        width: 50%; 
        padding: 10px; 
        margin: 10px auto 15px auto; /* Centrado con margen superior e inferior */
        border: 1px solid #ccc; 
        border-radius: 5px; 
        display: block;
    }

    button { 
        width: 50%; 
        padding: 10px; 
        background-color: #28a745;
        color: white; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; 
        margin: 10px auto; 
        display: block;
    }
    button:hover { 
        background-color: #218838;
    }
    span {
        font-size: 14px; 
        color: red; 
        margin-top: 10px; 
        display: block; 
    }
</style>

<h2>Llegamos a la Recuperación de contraseña</h2> 

<form id="passwordForm" action="/cambio" method="POST" onsubmit="return validarContraseña()">
    <input type="hidden" name="email" value="{{ email }}">
    <label for="password">Nueva Contraseña:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="confirmPassword">Repetir Contraseña:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <br>
    <span id="errorMensaje" style="color: red;"></span>
    <br>
    <button type="submit">Enviar</button>
</form>

<script>
    function validarContraseña() {
        const password = document.getElementById("password").value;
        const confirmPassword = document.getElementById("confirmPassword").value;
        const errorMensaje = document.getElementById("errorMensaje");
        
        if (password !== confirmPassword) {
            errorMensaje.textContent = "Las contraseñas no coinciden.";
            return false;
        }
        return true;
    }
    </script>
{% endblock %}