{% extends "components/layout.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div id="mensaje-error" style="color: red; font-weight: bold; display: none;"></div>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="username">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<div class="mt-4">
    <h2>¿Olvidaste tu contraseña?</h2>
    <form action="/forgot" method="GET">
        <button type="submit" class="btn btn-secondary">Recuperar contraseña</button>
    </form>
</div>

<div class="mt-4">      
    <h2>¿No tienes cuenta?</h2>
    <form action="/signup" method="GET">
        <button type="submit" class="btn btn-success">Registrarse</button>
    </form>        
</div>

<script>
    function obtenerParametro(nombre) {
        const params = new URLSearchParams(window.location.search);
        return params.get(nombre);
    }

    const mensaje = obtenerParametro("message");
    if (mensaje) {
        const mensajeDiv = document.getElementById("mensaje-error");
        mensajeDiv.textContent = decodeURIComponent(mensaje);
        mensajeDiv.style.display = "block";
    }

    document.querySelector('form').onsubmit = (event) => {
        event.preventDefault();
        var formData = new FormData(event.target);
        fetch('login', { method: 'POST', body: formData })     
        .then(response => {
            if (!response.ok) {
                throw new Error('No se pudo autenticar: ' + response.statusText);
            }
            return response.json();        
        })
        .then(data => {
            localStorage.setItem('access_token', data.access_token);
            localStorage.setItem('token_type', data.token_type);
            localStorage.setItem('rol', data.rol);
            localStorage.setItem('username', data.username);

            window.location.href = data.rol === 'admin' ? '/admin' : '/usuarios';
        })
        .catch(error => {
            alert('Hubo un problema con la autenticación: ' + error);
            window.location.href = '/';
        });                
    };
</script>
{% endblock %}
