{% extends "components/layout.html" %}

{% block title %}Política de Privacidad{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Política de Privacidad</h1>
    <p>Última actualización: 04 de marzo de 2025</p>

    <h3>1. Información que Recopilamos</h3>
    <p>Recopilamos datos personales como nombre, correo electrónico y actividad dentro de la plataforma.</p>

    <h3>2. Uso de la Información</h3>
    <p>Usamos la información para mejorar la experiencia del usuario, gestionar inversiones y garantizar la seguridad de la cuenta.</p>

    <h3>3. Protección de Datos</h3>
    <p>Implementamos medidas de seguridad para proteger la información de nuestros usuarios.</p>

    <h3>4. Derechos del Usuario</h3>
    <p>Puedes solicitar acceso, rectificación o eliminación de tus datos personales enviando un correo a turkomodad88@gmail.com.</p>
</div>
{% endblock %}
