{% extends "components/layout.html" %}

{% block title %}Verificacion de Código{% endblock %}

{% block content %}
<style>
    h2 {
        text-align: center;
        margin-top: 50px;;
    }

    .alert { 
        color: #d9534f; 
        background-color: #f2dede; 
        padding: 10px; 
        margin-bottom: 15px; 
        border-radius: 5px; 
    }

    button { 
        width: 50%; 
        padding: 10px; 
        background-color: #28a745;
        color: white; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; 
        margin-top: 10px; 
    }

    button:hover { 
        background-color: #218838;
    }

    form {
        width: 50%;
        margin: 50px auto; 
        text-align: center;
        padding: 10px; 
        margin-top: 50px; 
        margin-bottom: 15px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
    }
</style>

{% if request.query_params.get('message') %}
    <div class="alert alert-info">
        {{ request.query_params.get('message') }}
    </div>
{% endif %}


    <h2>Introduce el código enviado a tu email</h2>

    <form action="/recuperacion" method="POST">
        <input type="hidden" name="email" value="{{ email }}">
        <div class="mb-3">
            <label for="codigo" class="form-label">Código de Verificación</label>
            <input name="codigo" type="text" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Verificar Código</button>
    </form>

    <script>
        document.querySelector("form").addEventListener("submit", function() {
            document.querySelector("button[type='submit']").disabled = true;
        });
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
{% endblock %}